{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <p><a href="/">< กลับไปหน้าแรก</a></p>
            <div class="spacer-big"></div>
            <h1>พี่แชทบอทใจดีแนะนำตัวเอง</h1>
            <img class="about" src="https://jaideeweb.s3.ap-southeast-1.amazonaws.com/chatbot/jaidee-botlogo.svg" alt="แชทบอทใจดี">
            <p>สวัสดีค่ะทุกคน ดีใจที่ได้รู้จักกับทุกคน</p>
            <p>พี่ชื่อแชทบอทใจดี ถูกสร้างขึ้นมาเพื่อเป็นบอทรุ่นพี่ เป็นเพื่อนที่น่ารักของน้องวัยรุ่นวัยเรียนวัยและของทุกๆ คน โดยพี่ใจดีจะเป็นเพื่อนที่คอยอยู่เคียงข้าง คอยช่วยค้นหาวิธีรับมือกับเรื่องที่ทำให้ไม่สบายใจ ไม่ว่าจะเป็น เรื่องเรียน เรื่องครอบครัว ความรัก อกหัก เรื่องเพื่อน ถูกบูลลี่ และเรื่องอื่นๆ ตลอด 24 ชั่วโมง</p>
            
            <h2>ความสามารถด้าน AI ของพี่ใจดี</h2>
            <p>พี่ใจดีมีความสามารถในการ Search ภาษาธรรมชาติ น้องๆ สามารถพิมพ์ปัญหามาถามพี่ใจดีได้เลย แล้วพี่ใจดีจะไปดึงเอาเรื่องเล่า วิธีการจัดการปัญหา ที่หลากหลายของคนอื่นๆ ที่ล้วนเคยพบเจอเรื่องราวที่คล้ายๆ กันกับน้องมาให้นะ  วิธีคิดและวิธีรับมือกับปัญหาที่พี่ใจดีมีอยู่ในตัวทั้งหมดล้วนมาจาก "การบริจาคประสบการณ์" ของเพื่อนๆ วัยเรียนและรุ่นพี่ที่เรียนจบไปแล้วจากทั่วประเทศ ที่ตอนนี้มีมากกว่าหมื่นรายการและจะมีเพิ่มมากขึ้นอีกเรื่อยๆ ในอนาคต</p>

            <h2>สิ่งที่น้องจะได้เห็นคือ</h2>
            <p>ได้เห็นวิธีการที่เพื่อนๆ ใช้ผ่านเรื่องยากเรื่องแย่ไปได้แล้ว</p>
            <p>ได้ดูว่าพวกเค้าคิดยังไง มีวิธีรับมือยังไง</p>
            <p>ได้เห็นว่ามีเพื่อนมากมายที่เข้าใจความรู้สึกของน้องว่าตอนเจอเรื่องแย่ๆ มันรู้สึกยังไง เราไม่ได้รู้สึกแย่อยู่คนเดียว</p>
            <p>ได้เห็นเรื่องราวมากมายที่เกิดขึ้นในชีวิตเพื่อนคนอื่น เพื่อนที่ใจดีมาเล่ามาแชร์แบ่งปันเรื่องราวให้พวกเราฟัง แล้วน้องจะพบว่าเราไม่ได้เป็นคนเดียวในโลกที่เจอเรื่องเหล่านี้ มีเพื่อนมากมายเลย</p>
            <p>ได้เห็นว่าบางทีชีวิตก็เจอช่วงเวลาแย่ๆ แต่บางเวลาชีวิตก็จะเจอช่วงเวลาดีๆ ได้ด้วยเหมือนกัน</p>
            <p>ได้เห็นว่ามีคนให้กำลังใจน้องเป็นหมื่นๆ คน ขอให้น้องๆ รับรู้ว่าหนึ่งข้อความที่มาช่วยให้ความคิดเห็นให้แก่น้องก็คือหนึ่งกำลังใจที่ส่งมาจากเพื่อนที่เป็นคนจริงๆ หมื่นกำลังใจพอไหมที่ใจจะฟูขึ้น รวมกำลังใจจากพี่ใจดีเข้าไปอีกหนึ่งด้วยนะ</p>
            <br>
            <img class="donors" src="/static/about-donors.svg" alt="ผู้บริจาคประสบการณ์ให้แชทบอทใจดี">
            <br>

            <h2>ถ้าเกิดว่าน้องรู้สึกว่าไม่ไหวแล้ว</h2>
            <p>หากน้องๆ มีปัญหาที่เร่งด่วน เช่น ป่วยเป็นซึมเศร้า พี่ใจดีแนะนำให้ไปปรึกษาผู้เชี่ยวชาญ เช่น สายด่วน 1323 ของกรมสุขภาพจิต หรือจะแนะนำให้รีบไปขอคำปรึกษาและรักษากับคุณหมอเฉพาะที่โรงพยาบาลเลยนะ พี่ใจดีเห็นข้อความที่เพื่อนๆ พิมพ์มาบอก ว่าไปรักษาแล้วรู้สึกดีขึ้นหลายคนเลย</p>

            <h2>บริจาคประสบการณ์</h2>
            <p>ชวนบริจาคประสบการณ์ชีวิตเพื่อร่วมเป็นหนึ่งในผู้พัฒนาแชทบอทใจดี ที่ [<a href="/donate">บริจาคประสบการณ์</a>]</p>
            <p>พี่ใจดีชวนทุกคนมา "บริจาคประสบการณ์", "วิธีก้าวผ่านปัญหา", "ข้อความให้กำลังใจ" เพื่อร่วมส่งกำลังใจให้เพื่อนๆ ที่กำลังเจอเรื่องยากให้ผ่านไปได้ชิวๆ ถ้าใครใจดีก็มาเล่ามาแชร์กันได้ พี่ใจดีมี "ประกาศนียบัตรจิตอาสาบริจาคประสบการณ์" จาก สสส. ตอบแทนน้ำใจให้กับผู้ที่ร่วมพัฒนาใจดีแชทบอท ให้เป็นบอทที่ฉลาดขึ้นนะจ๊ะ</p>

            <h2>สุดท้ายแล้ว</h2>
            <p>พี่ใจดีอยากจะพัฒนาตัวเองทุกวันเพื่อเป้าหมายการเป็นเพื่อนที่ดีที่สุดให้กับน้อง ใครที่รู้สึกว่าไม่มี Safe Zone <a href="/">แชทบอทใจดี</a> จะเป็นพื้นที่ปลอดภัยให้เอง แวะมาบ่อยๆ ได้เลยนะ พื้นที่นี้ยินดีต้อนรับทุกคนเสมอ</p>

            <p>Love You,</p>
            <p><em>พี่ใจดี</em></p>
            <br>
            <hr>
            <br>
            <h2 id="disclaimer-statement">ข้อจำกัดความรับผิดชอบ (Disclaimer)</h2>
            <p>ความเห็นที่แชทบอทใจดีแสดง เป็นความเห็นส่วนบุคคลจากประสบการณ์ส่วนตัวของผู้ที่มาบริจาคประสบการณ์ และไม่ใช่คำแนะนำทางการแพทย์ ผู้ใช้แชทบอทควรใช้วิจารณญาณในการนำประสบการณ์ต่างๆ ไปปรับใช้ด้วยตนเอง และหากรู้สึกไม่ไหว ต้องการความช่วยเหลือ ควรปรึกษาแพทย์หรือผู้ให้บริการทางสุขภาพ</p>
            <h2 id="privacy-statement">ข้อมูลและความเป็นส่วนตัว (Data privacy)</h2>
            <p>แชทบอทใจดีและทีมผู้พัฒนาจะไม่รู้จักตัวตนของผู้ใช้แชทบอท ระบบจะบันทึกประวัติการสนทนาโดยไม่รู้ว่าผู้สนทนาเป็นใคร โดยทีมงานอาจใช้ข้อมูลประวัติการสนทนาเพื่อการวิเคราะห์และพัฒนาระบบเพื่อการให้บริการเท่านั้น โดยจะไม่เผยแพร่หรือแบ่งปันข้อมูลการสนทนากับผู้ที่ไม่เกี่ยวข้องเป็นอันขาด</p>
            <p>สำหรับผู้บริจาคประสบการณ์ ระบบจะไม่รู้และไม่บันทึกข้อมูลที่ทำให้ระบุตัวตนของท่านได้ ท่านจึงมั่นใจได้ว่าข้อมูลที่ให้มาจะถูกนำไปให้แชทบอทเชื่อมโยงให้คำแนะนำน้องๆ ที่กำลังเจอปัญหาคล้ายกัน โดยท่านไม่ได้เปิดเผยตัวตน</p>
            <p>อ่าน <a href="/privacy">นโยบายความเป็นส่วนตัว</a> ฉบับเต็ม</p>
            <br>
            <hr>
            <br>
            <p>โครงการแชทบอทใจดี พัฒนาโดย<a href="https://changefusion.org/" target="_blank">สถาบัน ChangeFusion</a> โดยได้รับการสนับสนุนจาก <a href="https://www.thaihealth.or.th/" target="_blank">สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</a></p>
            <div class="center">
                <img class="logo-rect" src="/static/cf-logo.png" alt="ChangeFusion">
                <img class="logo-sqr" src="/static/thaihealth-logo.png" alt="สสส.">
            </div>
            <br>
            <div class="passed-zone">
                <p>แชทบอทใจดี เป็น<span class="blue-em">รุ่นทดสอบ</span> หากท่านมีข้อแนะนำ หรือต้องการติดต่อผู้พัฒนา กรุณาอีเมลมาที่ chitpong [at] changefusion [dot] org</p>
            </div>
            <div class="spacer-big"></div>
        </div>
    </div>
</main>
{% endblock %}