{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <h1>แชทบอทใจดี</h1>
            <p>แชทบอทใจดี ถูกสร้างขึ้นมาเพื่อให้กำลังใจและคำแนะนำน้องๆ วัยรุ่นวัยเรียน ให้ฝ่าฟันปัญหาในชีวิตที่ส่งผลทางใจ ไม่ว่าจะเป็นเรื่องการเรียน เพื่อน ความรัก ครอบครัว และอื่นๆ</p>
            <p>ข้อมูลที่แชทบอทใจดีให้คำแนะนำ มาจากเพื่อนๆ พี่ๆ กว่าหมื่นคนทั่วประเทศที่เคยผ่านปัญหานั้นมาแล้ว ที่มา "<a href="/donate">บริจาคประสบการณ์</a>" กับแชทบอทใจดี ดังนั้น คำแนะนำที่แชทบอทใจดีเลือกมาให้ดู จึงเป็นคำแนะนำที่มาจากคนจริงๆ โดยใจดีทำหน้าที่เป็น "สะพานเชื่อม" ที่จะสร้างกลุ่มสนับสนุนกันและกันของคนในสังคมที่เจอปัญหาแบบเดียวกัน โดยกลุ่มจะใหญ่ขึ้นและมีความหลากหลายขึ้นเรื่อยๆ เมื่อมีผู้บริจาคประสบการณ์มากขึ้น</p>
            <p>นอกจากนั้น ทีมงานผู้พัฒนาแชทบอทใจดียังเตรียมข้อมูลสำคัญๆ ที่จะช่วยน้องๆ รับมือปัญหาที่มีความร้ายแรงหรือเร่งด่วน เช่นสายด่วนให้ความช่วยเหลือเรื่องสุขภาพจิต โดยจะแสดงข้อมูลเหล่านี้เมื่อน้องพิมพ์ปัญหาที่เกี่ยวข้องเข้ามาถาม</p>
            <p>โครงการแชทบอทใจดี พัฒนาโดย<a href="https://changefusion.org/" target="_blank">สถาบัน ChangeFusion</a> โดยได้รับการสนับสนุนจาก <a href="https://www.thaihealth.or.th/" target="_blank">สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</a></p>
            <div class="center">
                <img class="logo-rect" src="/static/cf-logo.png" alt="ChangeFusion">
                <img class="logo-sqr" src="/static/thaihealth-logo.png" alt="สสส.">
            </div>
            <h2>ข้อมูลและความเป็นส่วนตัว (Data privacy)</h2>
            <p>แชทบอทใจดีและทีมผู้พัฒนาจะไม่รู้จักตัวตนของผู้ใช้แชทบอท ระบบจะบันทึกประวัติการสนทนาโดยไม่รู้ว่าผู้สนทนาเป็นใคร โดยทีมงานอาจใช้ข้อมูลประวัติการสนทนาเพื่อการวิเคราะห์และพัฒนาระบบเพื่อการให้บริการเท่านั้น โดยจะไม่เผยแพร่หรือแบ่งปันข้อมูลการสนทนากับผู้ที่ไม่เกี่ยวข้องเป็นอันขาด</p>
            <p>สำหรับผู้บริจาคประสบการณ์ ระบบจะไม่รู้และไม่บันทึกข้อมูลที่ทำให้ระบุตัวตนของท่านได้ ท่านจึงมั่นใจได้ว่าข้อมูลที่ให้มาจะถูกนำไปให้แชทบอทเชื่อมโยงให้คำแนะนำน้องๆ ที่กำลังเจอปัญหาคล้ายกัน โดยท่านไม่ได้เปิดเผยตัวตน</p>
        </div>
    </div>
</main>
{% endblock %}