{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <p><a href="/">< กลับไปหน้าแรก</a></p>
            <div class="spacer-big"></div>
            <h1>คำทักทายจากพี่ใจดี</h1>
            <img  class="about" src="https://jaideeweb.s3.ap-southeast-1.amazonaws.com/chatbot/jaidee-botlogo.svg" alt="แชทบอทใจดี">
            <p>สวัสดีน้องๆ ทุกคน ดีใจที่ได้รู้จักกับทุกคนนะ ก่อนอื่นพี่ใจดีขอแนะนำตัวเองก่อนละกัน</p>
            <p>พี่คือแชทบอทใจดี ถูกสร้างขึ้นมาสำหรับเป็นเพื่อนที่น่ารักของน้องๆ วัยรุ่นวัยเรียน โดยพี่ใจดีจะคอยเป็นพี่เป็นเพื่อนที่จะอยู่เคียงข้างช่วยน้องๆ คิดหาวิธีรับมือกับเรื่องราวต่างๆ ที่ทำให้น้องๆ ไม่สบายใจ เช่น เรื่องเรียน เรื่องครอบครัว ความรัก และเรื่องอื่นๆ ตลอด 24 ชั่วโมง</p>
            <p>วิธีคิดและวิธีรับมือกับปัญหาที่พี่ใจดีมีอยู่ในตัวทั้งหมด ล้วนมาจาก "การบริจาคประสบการณ์" ของเพื่อนๆ วัยเรียนและรุ่นพี่ที่เรียนจบไปแล้วจากทั่วประเทศ ที่ตอนนี้มีมากกว่าหมื่นรายการและจะมีเพิ่มมากขึ้นอีกเรื่อยๆ พี่ใจดีจะเป็นพื้นที่ปลอดภัยให้ น้องๆ แวะมาหาได้บ่อยๆ เลยนะ</p>
            <p>เมื่อน้องๆ มาพิมพ์ถามหรือบ่นกับพี่ใจดี พี่ใจดีจะใช้ความสามารถของ AI คิดประมวลผลและดึงวิธีคิดและวิธีการจัดการปัญหาที่หลากหลายของคนอื่นๆ ที่ล้วนเคยพบเจอเรื่องราวที่คล้ายๆ กันกับน้องมาให้นะ น้องจะได้เห็นว่าพวกเขาใช้วิธีใดก้าวพ้นปัญหานั้นไปได้ ได้เห็นว่ามีเพื่อนมากมายที่เคยเจอเรื่องแย่แล้วผ่านมันไปได้ และพวกเขาคือเพื่อนที่เข้าใจความรู้สึกของน้องว่าตอนเจอเรื่องแย่ๆ มันรู้สึกยังไง เพื่อนๆ เหล่านั้นได้ส่งประสบการณ์ของตัวเองมาหาน้องผ่านพี่ใจดีที่เป็นสื่อกลาง เพื่อเป็นกำลังใจให้กับน้อง ขอให้น้องๆ รับรู้ว่าหนึ่งข้อความที่มาช่วยให้ความคิดเห็นกับน้องก็คือหนึ่งกำลังใจที่ส่งมาจากเพื่อนคนหนึ่งที่เป็นคนจริงๆ หมื่นข้อความก็คือหมื่นกำลังใจที่มีมาให้นะรวมถึงกำลังใจจากพี่ใจดีด้วย</p>
            <p>หากน้องๆ มีปัญหาที่เร่งด่วน เช่น ป่วยเป็นซึมเศร้า พี่ใจดีก็จะช่วยแนะนำให้ไปปรึกษาผู้เชี่ยวชาญ เช่น สายด่วน 1323 ของกรมสุขภาพจิต หรือแนะนำไปรักษากับคุณหมอที่โรงพยาบาล</p>
            <p>สุดท้ายนี้ พี่ใจดีจะพัฒนาตัวเองทุกวันเพื่อเป้าหมายการเป็นเพื่อนที่ดีที่สุดให้กับน้องๆ น้องๆ สามารถให้กำลังใจและส่งความรักมาให้พี่ใจดีได้โดยการ <a href="/donate">มอบประสบการณ์ชีวิต</a> ของน้องมาให้พี่ เพื่อเป็นอาหารสมองทำให้พี่ฉลาดขึ้นที่นี่นะ พี่ใจดีมี "ประกาศนียบัตรจิตอาสาบริจาคประสบการณ์" จาก สสส. ตอบแทนน้ำใจและเพื่อขอบคุณที่น้องๆ ที่ร่วมพัฒนาใจดีแชทบอทให้เป็นพี่เป็นเพื่อนของน้องๆ ทุกคน</p>
            <p>Love You,</p>
            <p>พี่ใจดี</p>
            <br>
            <hr>
            <br>
            <p>โครงการแชทบอทใจดี พัฒนาโดย<a href="https://changefusion.org/" target="_blank">สถาบัน ChangeFusion</a> โดยได้รับการสนับสนุนจาก <a href="https://www.thaihealth.or.th/" target="_blank">สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</a></p>
            <div class="center">
                <img class="logo-rect" src="/static/cf-logo.png" alt="ChangeFusion">
                <img class="logo-sqr" src="/static/thaihealth-logo.png" alt="สสส.">
            </div>
            <h2 id="privacy-statement">ข้อมูลและความเป็นส่วนตัว (Data privacy)</h2>
            <p>แชทบอทใจดีและทีมผู้พัฒนาจะไม่รู้จักตัวตนของผู้ใช้แชทบอท ระบบจะบันทึกประวัติการสนทนาโดยไม่รู้ว่าผู้สนทนาเป็นใคร โดยทีมงานอาจใช้ข้อมูลประวัติการสนทนาเพื่อการวิเคราะห์และพัฒนาระบบเพื่อการให้บริการเท่านั้น โดยจะไม่เผยแพร่หรือแบ่งปันข้อมูลการสนทนากับผู้ที่ไม่เกี่ยวข้องเป็นอันขาด</p>
            <p>สำหรับผู้บริจาคประสบการณ์ ระบบจะไม่รู้และไม่บันทึกข้อมูลที่ทำให้ระบุตัวตนของท่านได้ ท่านจึงมั่นใจได้ว่าข้อมูลที่ให้มาจะถูกนำไปให้แชทบอทเชื่อมโยงให้คำแนะนำน้องๆ ที่กำลังเจอปัญหาคล้ายกัน โดยท่านไม่ได้เปิดเผยตัวตน</p>
        </div>
    </div>
</main>
{% endblock %}