{% extends "base.html" %}

{% block content %}
<main>
    <div id="mainWrapper" class="main-wrapper">
        <div class="content-wrapper">
            <p><a href="/">< กลับไปหน้าแรก</a></p>
            <div class="spacer-big"></div>
            <p class="red-em">สำหรับ Admin เท่านั้น</p>
            <h1>บันทึกบทสนทนา</h1>
            <p class="blue-em">Admin กรุณารักษาข้อมูลบันทึกการสนทนานี้เป็นความลับ</p>

            <div class="align-center">
                <br>
                <input type="text" id="searchBox" class="search-box" placeholder="พิมพ์คำค้นหา">&nbsp;
                <button type="button" class="button" onclick="searchSubmit()">ค้นหา</button>
                <br>
                <button type="button" class="search-clear-button" onclick="searchClear()">เคลียร์ผลการค้นหา</button>&nbsp;&nbsp;
                ผลการค้นหา <span id="searchResultNum">0</span> รายการ <span id="searchLooseModeNotice" class="red-em" style="display:none">(ค้นเจอเพียงบางคำ หากไม่พบผลลัพท์ที่ต้องการ กรุณาลองเปลี่ยนคำค้น)</span>
            </div>
            <br><br>
            <div class="search-wrapper">
                <div class="search-filter">
                    <h2>ตัวกรอง</h2>

                    <div class="search-filter-flex-wrapper">
                        <div class="search-filter-half-left">
                            <h3>Result count</h3>
                            <input id="resultCount0" type="checkbox" name="resultCount" value="0">
                            <label for="resultCount0">0</label>
                            <input id="resultCount1" type="checkbox" name="resultCount" value="1">
                            <label for="resultCount1">> 0</label>
                        </div>
                        <div class="search-filter-half-right" style="visibility: hidden;">
                            <h3>Mode</h3>
                            <input id="mode1" type="checkbox" name="mode" value="1">
                            <label for="mode1">Strict</label>
                            <input id="mode2" type="checkbox" name="mode" value="2">
                            <label for="mode2">Proxy</label>
                            <input id="mode3" type="checkbox" name="mode" value="3">
                            <label for="mode3">None</label>
                        </div>
                    </div>
    
                    <br>
                </div>
                <div class="search-result">
                    <div id="searchResult"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</main>
<script src="/static/chat_record.js"></script>
{% endblock %}