{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <p><a href="/">< กลับไปหน้าแรก</a></p>
            <div class="spacer-big"></div>
            <h1>ขอบคุณสำหรับการร่วมบริจาคประสบการณ์</h1>
            <p>เราจะนำข้อมูลนี้ไปพัฒนาแชทบอท AI ที่จะเป็นตัวกลางถ่ายทอดประสบการณ์ของท่านให้น้องๆ ที่เจอปัญหาคล้ายๆ กัน ให้พวกเขาฝ่าฟันปัญหาและมีชีวิตอย่างมีความสุขได้</p>
            <p>เพื่อเป็นการตอบแทน โครงการยินดีมอบประกาศนียบัตรจิตอาสาบริจาคประสบการณ์ให้กับท่าน</p>
            <div class="align-center">
                <p>[ <a href="https://cert-engine.cfapp.org/jaideechatbot/issue/{{ cert_id }}">กดที่นี่เพื่อออกประกาศนียบัตร</a> ]</p>
            </div>
            <p>พี่ใจดีขอบคุณนะ</p>
            <p><a href="/">< กลับไปหน้าแรก</a></p>
            <br>
        </div>
    </div>
</main>
{% endblock %}