{% extends "base.html" %}

{% block content %}
<main>
    <div class="helper-menu">
        <div class="helper-menu-item">
            <a href="/">เริ่มคุยใหม่</a>
        </div>
        <br>
        <div class="helper-menu-item">
            <a href="#" onclick="convReq('พอแค่นี้'); return false;">พอแค่นี้</a>
        </div>
    </div>
    <div class="main-wrapper">
        <div id='botWrapper' class='bot-wrapper'>
            <div id="csrf">{{ form.csrf_token }}</div>
            <div id='botName' class='hidden'>ใจดี</div>
            <div id='convId' class='hidden'>0</div>
            <div id='botConv' class='bot-conv-wrapper'></div>
            <div class='clear'></div>
            <div id='reqWrapper' class='req-wrapper'>
                <p class="input-guide">พิมพ์คุยกับพี่แชทบอทใจดีได้เลย</p>
                <div class="req-flex-wrapper">
                    <input type="text" id="reqInput" class="req-input">
                    <button type="button" class="req-input" onclick="reqSubmit()">ส่ง</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/chatbot.js"></script>
{% endblock %}