{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <div class="content-wrapper">
        <h1>ข้อมูลของฉัน</h1>
        <div class="main-flex-wrapper">
            <div class="main-flex-half-left">
                {% if user.role == 'admin' %}
                    <h2>เครื่องมือของ Admin</h2>
                    <blockquote>
                        <p><a href="/search">ฐานข้อมูลประสบการณ์ (สาธารณะ)</a></p>
                        <p><a href="/chat_record">บันทึกการสนทนา</a></p>
                        <p><a href="/feedback">คะแนน Feedback</a></p>
                    </blockquote>
                    
                {% endif %}
                <br>
            </div>
            <div class="main-flex-half-right">
                <p>รหัสผู้ใช้: {{ user.id }}</p>
                <p>ชื่อ: {{ user.name }}</p>
                <p>อีเมล: {{ user.email }}</p>
                <p>รหัสผ่าน: ******** [ <a href="/password-change">เปลี่ยนรหัสผ่าน</a> ]</p>
                <p>ประเภทการใช้งาน: {{ user.role }}</p>
                <p>วันที่สร้างบัญชี: {{ user.create_dt.strftime('%d-%m-%Y') }}</p>
                <p>วันที่ล็อกอินครั้งล่าสุด: {{ user.lastlogin_dt.strftime('%d-%m-%Y') }}</p>
                <hr>
                <p><a href="/logout">ออกจากระบบ</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}